[user]
	name = Gwanho Kim
	email = khkim6040@gmail.com
[core]
	autocrlf = input
[alias]
	st = status
	co = checkout
	cb = checkout -b
	br = branch
	ci = commit
	ca = commit --amend
	cane = commit --amend --no-edit
	d = diff
	ds = diff --staged
	a = add
	ap = add -p
	p = pull
	ps = push
	psf = push --force-with-lease
	lo = log --oneline -n 15
	lg = log --oneline --decorate --graph
	last = log -1 HEAD
	unstage = reset HEAD --
	discard = checkout --
