Host popo
	HostName ec2-15-164-235-45.ap-northeast-2.compute.amazonaws.com
	User ec2-user
	IdentityFile ~/.ssh/poapper-popo.pem

# 메인 계정 (khkim6040)
Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_rsa_khkim6040
  IdentitiesOnly yes
